[submodule "cpp/openssl"]
	path = cpp/openssl
	url = https://github.com/schwabe/platform_external_openssl.git
[submodule "cpp/openvpn"]
	path = cpp/openvpn
	url = https://github.com/pia-foss/mobile-android-openvpn.git
[submodule "cpp/lz4"]
	path = cpp/lz4
	url = https://github.com/lz4/lz4.git
